
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">iDiadi.Com</h1>
    <p class="lead">Data Science Projects - (Data Cleaning, Exploratory Data Analysis, Interactive Data Visualizations, Machine Learning, AI)</p>
  </div>
</div>

<div class="bd-example">

<ul>
  <li>Web application</li>
    <ul>
      <li>Github</li>
      <li>Python flask</li>
      <li>Bootstrap</li>
      <li>ubuntu cloud - digitalocean.com</li>
    </ul>
  <li><a href="/spread/csv">Work with spreadsheet</a></li>
    <ul>
      <li>upload csv files</li>
      <li>clear</li>
      <li>combine, merge</li>
      <li>join, union</li>
      <li>view with datatables (filter, sort, search)</li>
      <li>download</li>
    </ul>
  <li><a href="/scrap">Web Scraping</a></li>
    <ul>
      <li>(fnumbers, messanger chat history)</li>
      <li>regex</li>
    </ul>
  <li><a href="/psql">Connect to DataBase</a></li>
    <ul>
      <li>MSSQL</li>
      <li>PostgreSQL</li>
      <li>MongoDB</li>
    </ul>
  <li><a href="/dash1">Data visualize</a></li>
    <ul>
      <li>using dash plotly, seaborn</li>
      <li>work with Big Data</li>
      <li>(geo stat from our report and other)</li>
    </ul>
  <li>Statistical models</li>
  <li>Machine Learning</li>
  <li>Artificial Intelligence (AI)</li>
  <li>...</li>
    <ul>
      <li>Sublime - (text editor)</li>
      <li>SSMS - SQL server</li>
      <li>pgAdmin 4</li>
      <li>DBeaver ?</li>
    </ul>

</ul>


</div>




<p> </p>
<p> </p>
<p> </p>
